body {
    background-color: #f0f8ff;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #ff4500;
}

#star-container {
    font-size: 2rem;
    margin: 20px;
    min-height: 50px;
}
